html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.keyboard {
    display: flex;
    gap: 1px;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-auto-rows: 5rem;
    gap: inherit;
}

input[value="0"] {
    grid-column: 1/3;
}

.screen {
    border: solid black 2px;
    border-radius: 10rem;
    padding: 1rem;
    grid-column: 1/2;
    max-width: 23rem;
    min-height: 1rem;

}

.operations {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4, 5rem);
    grid-auto-columns: 4rem;
    gap: inherit;
}

.operands {
    display: grid;
    grid-row: 1/5;
    gap: inherit;
}

input[value="="] {
    grid-row: 3/5;
}